.card {
    display: flex;
    margin-bottom: 40px;
    width: 220px;
}

.video_cover {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 200px;
}

.card_title > h3 {
    font-size: 14px;
    margin-bottom: 5px;
    margin-left: 5px;
}


